<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/node_modules/bootstrap-icons/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title th:text="#{title.periodicals}">Periodicals-List</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<body>
<header>
    <div th:insert="~{fragments/header :: copy}"></div>
</header>
<div class="bodyContainer">


    <div class="sectionMainContent text-center">
<!--        <div th:if="${productNotFoundError != null}" class="text-center d-flex justify-content-center mt-5">-->
<!--            <div class="alert alert-danger w-50" role="alert">-->
<!--                <div>-->
<!--                    <strong th:text="#{exception.product.not.found}"></strong>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <form th:action="@{/periodicals}">
            <div class="d-flex shadow p-3 mb-5 mt-5 bg-light rounded">

                <div class="flex-grow-1">
                    <div class=" input-group">
                        <input type="text" class="form-control" th:placeholder="#{input.periodical.name}"
                               aria-describedby="basic-addon1" name='searchQuery'
                               th:value="*{request_params.get('searchQuery')}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" th:text="#{button.find}">Search</button>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block" sec:authorize="hasAnyAuthority('ADMINISTRATOR')">
                    <a class="btn btn-primary" type="button"
                            th:style="'margin-left: 25px'"
                            th:title="#{button.add}"
                            th:href="@{/periodicals/add}">Add</a>
                </div>
            </div>
        </form>
        <div th:if="${periodicals.hasContent()}"
             class="d-flex justify-content-center shadow p-3 bg-light rounded">

            <div>
<!--                class="table table-borderless table-hover"-->
                <table
                       class="table table-striped table-hover">

                    <thead class="thead-light">

                        <tr th:with="urlPrefix = '/periodicals?asc='
                        + ${request_params.get('asc') == null || request_params.get('asc') ? 'false':'true'}">
                            <th style="width: 75px" sec:authorize="hasAnyAuthority('READER')"></th>
                            <div class="list-group">
                            <th ><a class="list-group-item list-group-item-action list-group-item-primary"
                                    th:href="@{${urlPrefix}(sortField='name')}"
                                    th:text="#{table.periodicals.name}">Name</a></th>
                            <th><a class="list-group-item list-group-item-action list-group-item-primary"
                                   th:href="@{${urlPrefix}(sortField='price')}"
                                   th:text="#{table.periodicals.price}">Price</a></th>
                            <th>
                                <div class="list-group-item list-group-item-action list-group-item-primary">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                               role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                            th:style="'padding: 0'"
                                               th:text="#{table.periodicals.subject}">Subject
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item"
                                                       th:href="@{${urlPrefix}(subject='NEWS')}"
                                                       th:text="#{table.periodicals.subject.news}">News</a></li>
                                                <li><a class="dropdown-item"
                                                       th:href="@{${urlPrefix}(subject='SPORT')}"
                                                       th:text="#{table.periodicals.subject.sport}">Sport</a></li>
                                                <li><a class="dropdown-item"
                                                       th:href="@{${urlPrefix}(subject='SCIENCE')}"
                                                       th:text="#{table.periodicals.subject.science}">SCIENCE</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </th>
                            <th><a class="list-group-item list-group-item-action list-group-item-primary"
                                   th:href="@{${urlPrefix}(sortField='subscribers')}"
                                   th:text="#{table.periodicals.subscribers}"></a></th>
                            </div>
                        </tr>

                    </thead>
                    <tbody >


                            <tr scope="row" th:each="periodical: ${periodicals}" >
<!--                                <div th:each="subscription: ${user_subscribe}">-->
                                    <td sec:authorize="hasAnyAuthority('READER')">
                                        <form class="form-signup"
                                              th:method="post"
                                              th:action="@{/periodicals/{id}/subscription(id=${periodical.id})}">
                                            <button type="submit" class="btn btn-success"
                                            th:if="${user_subscribe.get(periodical.name) == true}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                                </svg>
                                            </button>
                                            <button type="submit" class="btn btn-secondary"
                                                    th:if="${user_subscribe.get(periodical.name) == false}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                    <td  class="align-middle">
                                        <a class="alert-link"
                                           th:href="@{/periodicals/{id}(id=${periodical.id})}"
                                           th:text="${periodical.name}"></a>

                                    </td>
                                <td  class="align-middle">
                                    <div th:text="${periodical.price}" ></div>
                                </td>

                                    <td  class="align-middle">
                                        <div th:text="${periodical.subject}" ></div>
                                    </td>
                                    <td  class="align-middle">
                                        <div th:text="${periodical.users.size()}" ></div>
                                    </td>
<!--                                </div>-->
                            </tr>


                    </tbody>
                </table>
            </div>

        </div>
        <div th:if="${periodicals.hasContent()}" class="m-xl-5 d-flex justify-content-center">
            <div>
                <nav>
                    <ul class="pagination flex-wrap" th:with="pageUrlPrefix = '/periodicals?sortField=' +
					${request_params.get('sortField') == null ? '' :request_params.get('sortField')}
					+ '&amp;asc=' + ${request_params.get('asc') == null ? 'true' : request_params.get('asc')} +
					'&amp;searchQuery='
					+ ${request_params.get('searchQuery') == null  ? '' : request_params.get('searchQuery')} +
					'&amp;subject='
                    + ${request_params.get('subject') == null ? '' : request_params.get('subject')}">

                        <li th:class="${periodicals.isFirst() ? 'page-item disabled' : 'page-item' }">
                            <a th:href="@{${pageUrlPrefix}(page='1')}" class="page-link"><b>&laquo;</b></a>
                        </li>

                        <li th:class="${periodicals.isFirst() ? 'page-item disabled' : 'page-item'}">
                            <a th:href="@{${pageUrlPrefix}(page=${periodicals.getNumber()})}"
                               class="page-link"><b>‹</b></a>
                        </li>


                        <li th:each="i: ${#numbers.sequence(1, periodicals.getTotalPages())}"
                            th:class="${periodicals.getNumber()+1 != i ? 'page-item' : 'page-item active'}">
                            <a th:href="@{${pageUrlPrefix}(page=${i})}" class="page-link">[[${i}]]</a>
                        </li>


                        <li th:class="${periodicals.isLast() ? 'page-item disabled' : 'page-item'}">
                            <a th:href="@{${pageUrlPrefix}(page=${periodicals.getNumber()+2})}"
                               class="page-link"><b>›</b></a>
                        </li>

                        <li th:class="${periodicals.isLast() ? 'page-item disabled' : 'page-item'}">
                            <a th:href="@{${pageUrlPrefix}(page=${periodicals.getTotalPages()})}"
                               class="page-link"><b>&raquo;</b></a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <h3 th:if="${!periodicals.hasContent()}" class="m-xl-5 d-flex justify-content-center"
            th:text="#{periodicals.not.found}"></h3>


    </div>

</div>

<footer>
    <div th:insert="~{fragments/footer :: copy}"></div>
</footer>
</body>
</html>